/*  RESET & ROOT  */


* {
  padding: 1px;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font1);
}

:root {
  --background1: hsl(201, 100%, 45%);
  --background2: hsl(0, 0%, 98%);
  --background3: hsl(0, 0%, 100%);
  --hamburger-color: black;
  --font1: "poppins";
}


/*  ELEMENTS  */


html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--background2);
}

ul {   
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 25px;
}

.mobileNavWrapper, .normalNav {
  background-color: var(--background1);
}

input, textarea {
  border: none;
  background-color: var(--background2);
  outline: none;
  padding: 5px 8px;
  width: 100%;
}

button, select, option {
  cursor: pointer;
  outline: none;
}

svg {
  height: 15px;
  cursor: pointer;
}


/*  CLASSES  */

.mobileNavWrapper {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  position: relative;
}

.normalNav {
  display: none;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 1;
}

.burgerNav {
  background-color: var(--background2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

.burgerNav li {
  border-top: 1px solid var(--background1);
  border-bottom: 1px solid var(--background1);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.burgerNav a {
  color: black;
}

/* menu */

.hamburgerWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: var(--background2);
  height: 40px;
  width: 40px;
  right: 10px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  height: 35px;
  width: 35px;
  padding: 5px;
  z-index: 1;
  right: 10px;
  transition: all 0.2s;
}

.hamburgerChecked {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  height: 35px;
  width: 35px;
  padding: 5px 0 5px 0;
  z-index: 1;
  left: 1px;
  transform: translateX(-2px);
  transition: all 0.2s;
}

.hamburgerRow1 {
  background-color: var(--hamburger-color);
  width: 24px;
  height: 2px;
  border-radius: 10px;
  transition: all 0.4s;
}

.hamburgerRow2 {
  background-color: var(--hamburger-color);
  width: 24px;
  height: 2px;
  border-radius: 10px;
  transition: all 0.4s;
}

.hamburgerRow3 {
  background-color: var(--hamburger-color);
  width: 24px;
  height: 2px;
  border-radius: 10px;
  transition: all 0.4s;
}

.hamburgerRow1Checked {
  background-color: var(--hamburger-color);
  width: 24px;
  height: 2px;
  border-radius: 10px;
  transform: rotate(-45deg) translateY(10px) translateX(1px);
  transition: transform 0.4s;
}

.hamburgerRow2Checked {
  background-color: var(--hamburger-color);
  width: 24px;
  height: 2px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.2s;
}

.hamburgerRow3Checked {
  background-color: var(--hamburger-color);
  width: 24px;
  height: 2px;
  border-radius: 10px;
  transform: rotate(45deg) translateY(-10px);
  transition: transform 0.4s;
}

.menu {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: none;
  top: 7vh;
  z-index: 2;
}

/* UNDER HEADER */

.underHeader {
  position: sticky;
  height: 10vh;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

.underHeaderButton {
  border: none;
  background-color: var(--background1);
  padding: 8px 15px;
  border-radius: 19px;
  color: var(--background2);
  font-family: 'poppins';
  position: absolute;
  right: 5vw;
}

.logo {
  margin-left: 5vw;
}

/* HERO */

.heroWrapper {
  background-image: url("/public/city-image.jpeg");
  padding-bottom: 10vh;
  background-size: cover;
}

.heroCard1Wrapper {
  display: flex;
  margin-left: 5vw;
}

.heroCard1 {
  background-color: hsla(0, 0%, 100%, 55%);
  border-radius: 5px;
  width: 90vw;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px 15px 10px;
  margin-top: 3vh;
}

.hello {
  font-family: "bebas neue";
  padding: 20px 5vw;
  font-size: 25px;
  color: var(--background2);
  font-weight: 400;
}

.nameWrapper {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.companyName {
  font-family: "Bebas Neue";
  margin: 10px 5vw;
  color: var(--background2);
  font-size: 60px;
  line-height: 65px;
  text-align: left;
}

.requestIns {
  text-align: center;
  color: var(--background1);
  margin-bottom: 15px;
}

.form1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ctaButton {
  background-color: var(--background1);
  outline: none;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  font-weight: 600;
}

.optionbyebye {
  display: none;
}

.inputWrapper {
  display: flex;
  gap: 10px;
}

.select {
  border: none;
  font-size: 10px;
  padding: 7px 2px;
}

.submitButton {
  border: none;
  background-color: var(--background1);
  padding: 5px;
  border-radius: 5px;
  color: var(--background2);
}

/* ROOFS */

.roofsWrapper {
  position: relative;
}

.roofs {
  display: flex;
  height: 200vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  margin: 30px 0;
  position: absolute;
  top: -70px;
}

.roofs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  width: 70%;
  background-color: var(--background3);
  padding: 10px;
}

.roofs img {
  width: 100%;
  max-width: 289px;
}

.roofs h2 {
  text-align: center;
}

.roofs p {
  padding: 5px;
  text-align: center;
}

.learnMoreButton {
  background-color: var(--background1);
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 122px;
  margin: 10px;
}

/* PAGE2 */

.page2 {
  margin-top: 200vh;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.page2 img {
  width: 75vw;
  height: 20vh;
  margin: 10px;
}

.page2 h2 {
  text-align: center;
  font-family: 'bebas neue';
  font-weight: 500;
  margin: 7px 0;
}

.blueStripe {
  background-color: var(--background1);
  height: 2px;
  width: 100px;
  border-radius: 100px;
}

.page2 p {
  font-size: 13px;
  margin: 10px;
}

/* TESTIMONIALS */

.testimonials {
  background-image: url('public/city-image.jpeg');
  background-size: cover;
}

.cover {
  background-color: hsla(0, 0%, 0%, 70%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover h4 {
  margin: 50px 0 10px 0;
  color: white;
}

.cover h2 {
  color: white;
  font-family: 'bebas neue';
  letter-spacing: 3px;
  font-size: 30px;
  margin: 20px;
}

.testimonial {
  background-color: var(--background2);
  margin: 30px;
  border-bottom-right-radius: 100px;
  min-height: 50vh;
  padding: 10px;
}








/*  PSUEDOCLASSES  */

button:active {
  background-color: hsl(201, 100%, 50%);
}

/*  PSUEDOELEMENTS  */


html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 15%);
}

html::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 27%);
}

::placeholder {
  font-size: 10px;
  color: black;
}


/*  MEDIA QUERIES  */


@media only screen and (min-width: 768px){

  .burgerNav a {
      font-size: 17px;
  }

  h1 {
      font-size: 35px;
    
  }


}

@media only screen and (min-width: 1000px){

  .mobileNavWrapper {
      display: none;
  }

  .normalNav {
      display: flex;
  }

  .normalNav a:hover {
      color: hsl(0, 0%, 80%);
  }

  .socialsWrapper svg:hover {
      transform: scale(1.2);
      transition: all 0.5s;
  }

}

@media only screen and (min-width: 1440px){

  .normalNav a {
      font-size: 22px;
  }

}

@media only screen and (min-width: 2560px){

  .normalNav a {
      font-size: 40px;
  }

  .page3Wrapper {
      justify-content: space-between;
  }

  form {
      padding: 40px 70px;
      justify-content: space-around;
  }

  input {
      font-size: 40px;
  }

  textarea {
      font-size: 40px;
  }

  ::placeholder {
      font-size: 40px;
  }

  .socialsWrapper svg {
      width: 100px;
      height: 100px;
  }

  .footerWrapper {
      height: 1000px
  }

}